h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-family: "aktiv-grotesk";
    font-size: 44px;
    line-height: 48px;
    font-weight: 900;

    @media only screen and (min-width: 800px) {
        font-size: 56px;
        line-height: 56px;
    }
}

h2 {
    font-family: "aktiv-grotesk";
    font-size: 32px;
    line-height: 40px;
    font-weight: 900;

    @media only screen and (min-width: 800px) {
        font-size: 44px;
        line-height: 48px;
    }
}

h3 {
    font-family: "aktiv-grotesk";
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;

    @media only screen and (min-width: 800px) {
        font-size: 32px;
        line-height: 40px;
        font-weight: 900;
    }
}

h4 {
    font-family: "aktiv-grotesk";
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;

    @media only screen and (min-width: 800px) {
        font-size: 24px;
        line-height: 32px;
    }
}

h5 {
    font-family: "aktiv-grotesk";
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    @media only screen and (min-width: 800px) {
        font-size: 20px;
        line-height: 24px;
    }
}

h6 {
    font-family: "aktiv-grotesk-extended";
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    text-transform: uppercase;

    @media only screen and (min-width: 800px) {
        font-size: 16px;
        line-height: 24px;
    }
}

p {
    font-family: "aktiv-grotesk";
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    @media only screen and (min-width: 800px) {
        font-size: 16px;
        line-height: 24px;
    }
}

p.lg {
    font-size: 16px;
    line-height: 24px;

    @media only screen and (min-width: 800px) {
        font-size: 20px;
        line-height: 32px;
    }
}

p.sm {
    font-size: 12px;
    line-height: 16px;

    @media only screen and (min-width: 800px) {
        font-size: 14px;
        line-height: 18px;
    }
}
